<!DOCTYPE html>

<html>
<head>
<title>Fern</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'giver/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="fullbleed topbar">
    <header class="clamp">
      <div id="masthead">Fern</div>
      <div class="toolbar">
        {% if logged_in %}
        <a href="/care">care hub</a>
        {% else %}
        <a href="/login">log in</a>
        {% endif %}
      </div>
    </header>
  </div>
  <div class="clamp">
    <h1>Modern caregiving, timeless care</h1>
    <p>Fern provides in-home care for seniors.  Fern is remotely controlled by a certified caregiver and takes care of everything from routine checks around the home to calling help in an emergency.</p>
 
    <!--
    <p>Fern is currently a pilot program in select households and caregiving communities.  Add your email below to receive our informational packet.</p>
    <form method="POST" action="/login">
      <div class="label">Username</div>
      <div><input type="text" name="username" /></div>
      <div class="label">Password</div>
      <div><input type="password" name="password" /></div>
      {% csrf_token %}
      <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
      <div><input type="submit" value="LOG IN" /></div>
    </form>
  -->
  </div>
</body>

</html>
