<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fern Elder Care</title>
	{% load static %}
	<!-- Facebook Pixel Code -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '1757328087666778');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
  	src="https://www.facebook.com/tr?id=1757328087666778&ev=PageView&noscript=1"
	/></noscript>
<!-- End Facebook Pixel Code -->

	<link rel="stylesheet" href="{% static 'giver/css/reset.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Karla|Lora:700|Merriweather:400,700|Source+Serif+Pro:700" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'giver/css/main.css' %}">
</head>
<body>
	<nav>
		<img src="{% static 'giver/img/logo.svg' %}" id="logo" alt="">
		<div class="navLinks">
			<!--
			<a href="#">About</a>
			<a href="#">Contact</a>
		-->
		</div>
	</nav>
	<header>
		<h1>Fern</h1>
			<h2>
			 {{content.tagline}}
			</h2>
		<form action="https://carebyfern.us17.list-manage.com/subscribe/post?u=6487e9c636e955ff17f9daeda&amp;id=c2da4bdd38" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
			<div class="mc-field-group">
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email" required>
				<input type="submit" value="Learn More" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6487e9c636e955ff17f9daeda_c2da4bdd38" tabindex="-1" value=""></div>	
				</div>
			</div>
		</form>
		<div class="illustration-large">
			<div id="l1wrap"><img src="{% static 'giver/img/large1.png' %}" id="l1"	alt=""></div>
			<div id="l2wrap"><img src="{% static 'giver/img/large2.png' %}" id="l2"	alt=""></div>
		</div>
	</header>
	<main>
		<section class="benefits-medium">
			<article class="left-text">
				<div class="explainer">
					<div>
						<h2>{{content.header1}}</h2>
						<p>{{content.par1}}</p>
					</div>
				</div>
				<div class="illustration-medium">
					<img src="{% static 'giver/img/medium1.png' %}" alt="">
				</div>
			</article>
			<article class="right-text">
				<div class="explainer">
					<div>
						<h2>{{content.header2}}</h2>
						<p>{{content.par2}}</p>
					</div>
				</div>
				<div class="illustration-medium">
					<img src="{% static 'giver/img/medium2.png' %}" alt="">
				</div>
			</article>

		</section>

		<section class="benefits-small">

			<article class="left-text">
				<div class="explainer">
					<div>
						<h2>{{content.header3}}</h2>
						<p>{{content.par3}}</p>
					</div>
				</div>
				<div class="illustration-small">
					<img src="{% static 'giver/img/small1.png' %}" alt="">
				</div>
			</article>

			<article class="right-text">
				<div class="explainer">
					<div>
						<h2>{{content.header4}}</h2>
						<p>{{content.par4}}</p>
					</div>
				</div>
				<div class="illustration-small">
					<img src="{% static 'giver/img/small2.png' %}" alt="">
				</div>
			</article>

		</section>

		<footer>
			<div class="cta">
				<h1>{{content.call_to_action_header}}</h1>
				<p>{{content.call_to_action_par}}</p>
				<form action="https://carebyfern.us17.list-manage.com/subscribe/post?u=6487e9c636e955ff17f9daeda&amp;id=c2da4bdd38" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    			<div id="mc_embed_signup_scroll">
  				<div class="mc-field-group">
  					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email" required>
  					<input type="submit" value="Learn More" name="subscribe" id="mc-embedded-subscribe" class="button">


  				</div>
  				<div id="mce-responses" class="clear">
    				<div class="response" id="mce-error-response" style="display:none"></div>
    				<div class="response" id="mce-success-response" style="display:none"></div>
  				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
   					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6487e9c636e955ff17f9daeda_c2da4bdd38" tabindex="-1" value=""></div>	
    				</div>
    			</div>
				</form>
    
			</div>
			<div class="illustration-footer">
				<div class="persona">
					<div><img src="{% static 'giver/img/tiny1.png' %}" alt=""></div>
					<h2>{{content.older_persona}}</h2>
				</div>
				<div class="persona">
					<div><img src="{% static 'giver/img/tiny2.png' %}" alt=""></div>
					<h2>{{content.younger_persona}}</h2>
				</div>
			</div>
		</footer>

	</main>
</body>
<script type="text/javascript">
	$( '#mc-embedded-subscribe' ).click(function() {
		fbq('track', 'Lead');
		console.log('event registered!');
	});
</script>
</html>
