<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fern Elder Care</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'giver/css/reset.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Karla|Lora:700|Merriweather:400,700|Source+Serif+Pro:700" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'giver/css/main.css' %}">
</head>
<body>
	<nav>
		<img src="{% static 'giver/img/logo.svg' %}" id="logo" alt="">
		<div class="navLinks">
			<!--
			<a href="#">About</a>
			<a href="#">Contact</a>
		-->
		</div>
	</nav>
	<header>
		<h1>Fern</h1>
			<h2>
			 Human-Driven Care. Technology-Driven Quality.
			</h2>
		<form action="https://carebyfern.us17.list-manage.com/subscribe/post?u=6487e9c636e955ff17f9daeda&amp;id=c2da4bdd38" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
			<div class="mc-field-group">
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email" required>
				<input type="submit" value="Learn More" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6487e9c636e955ff17f9daeda_c2da4bdd38" tabindex="-1" value=""></div>	
				</div>
			</div>
		</form>
		<div class="illustration-large">
			<div id="l1wrap"><img src="{% static 'giver/img/large1.png' %}" id="l1"	alt=""></div>
			<div id="l2wrap"><img src="{% static 'giver/img/large2.png' %}" id="l2"	alt=""></div>
		</div>
	</header>
	<main>
		<section class="benefits-medium">
			<article class="left-text">
				<div class="explainer">
					<div>
						<h2>Taking Care of the Anticipated and the Unanticipated</h2>
						<p>We’re building a teleoperated service that makes sure everything is A-OK around the clock.</p>
					</div>
				</div>
				<div class="illustration-medium">
					<img src="{% static 'giver/img/medium1.png' %}" alt="">
				</div>
			</article>
			<article class="right-text">
				<div class="explainer">
					<div>
						<h2>Not Just a Security Camera</h2>
						<p>Fern provides a one-stop shop. Reminders, check-ins, communication, engagement, and even digital services normally limited to computers and smart phones.</p>
					</div>
				</div>
				<div class="illustration-medium">
					<img src="{% static 'giver/img/medium2.png' %}" alt="">
				</div>
			</article>

		</section>

		<section class="benefits-small">

			<article class="left-text">
				<div class="explainer">
					<div>
						<h2>Software Keeps you In the Loop</h2>
						<p>Never wonder about what is going on or if everything’s OK. A consistently updated dashboard gives you to ask questions and get information at a glance.</p>
					</div>
				</div>
				<div class="illustration-small">
					<img src="{% static 'giver/img/small1.png' %}" alt="">
				</div>
			</article>

			<article class="right-text">
				<div class="explainer">
					<div>
						<h2>Teamwork</h2>
						<p>Fern plays well with the whole caregiving team. Stop paying people to sit on the couch. We’re there for any time you don’t need hands-on-help. </p>
					</div>
				</div>
				<div class="illustration-small">
					<img src="{% static 'giver/img/small2.png' %}" alt="">
				</div>
			</article>

		</section>

		<footer>
			<div class="cta">
				<h1>Want to To Try Out Fern?</h1>
				<p>We’ll keep you in the loop.</p>
				<form action="https://carebyfern.us17.list-manage.com/subscribe/post?u=6487e9c636e955ff17f9daeda&amp;id=c2da4bdd38" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    			<div id="mc_embed_signup_scroll">
  				<div class="mc-field-group">
  					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email" required>
  					<input type="submit" value="Learn More" name="subscribe" id="mc-embedded-subscribe" class="button">
  				</div>
  				<div id="mce-responses" class="clear">
    				<div class="response" id="mce-error-response" style="display:none"></div>
    				<div class="response" id="mce-success-response" style="display:none"></div>
  				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
   					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6487e9c636e955ff17f9daeda_c2da4bdd38" tabindex="-1" value=""></div>	
    				</div>
    			</div>
				</form>
    
			</div>
			<div class="illustration-footer">
				<div class="persona">
					<div><img src="{% static 'giver/img/tiny1.png' %}" alt=""></div>
					<h2>Happy and independent</h2>
				</div>
				<div class="persona">
					<div><img src="{% static 'giver/img/tiny2.png' %}" alt=""></div>
					<h2>Saving money and worry</h2>
				</div>
			</div>
		</footer>

	</main>
</body>
</html>